.header {
    height: 60px;
    display: flex;
    align-items: center;
    background: #131921;
    top: 0;
    z-index: 100;
}

.header__logo {
    width: 100px;
    object-fit: contain;
    margin: 0 20px;
    margin-top: 8px;
}

.header__search {
    display: flex;
    flex: 1;
    align-items: center;
    border-radius: 24px;
}

.header__searchInput {
    height: 12px;
    padding: 10px;
    border: none;
    width: 100%;
    border-radius: 4px;
    margin-right: -34px;


}

.header__searchIcon {
    background: #cd9042;
    height: 22px !important;
    padding: 5px;
    border-radius: 0 4px 4px 0;
    cursor: pointer;
}

input[type=text] {
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -ms-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
    outline: none;

}

input[type=text]:focus {
    box-shadow: 0 0 2px 2px #ff9900;
    border: 1px solid #ff9900;
}

.header__optionLineOne {
    font-size: 10px;
    color: #ccc;

}

.header__optionLineTwo {
    font-size: 13px;
    font-weight: 800;
}

.header__nav {
    display: flex;
    justify-content: space-evenly;
}

.header__option {
    display: flex;
    flex-direction: column;
    color: #fff;
    text-transform: capitalize;
    margin: 0 10px;
}

.header__optionBasket {
    color: #fff;
    display: flex;
    align-items: center;
}

.header__basketCount {
    margin: 0 10px;
}


.navbar {
    display: flex;
    color: #fff;
    height: 37px;
    background: #232f3e;
    justify-content: space-between;
    text-transform: capitalize;



    .navbar__delivery {
        display: flex;
        align-items: center;
        color: #fff;
        margin-left: 5px;

        p:first-child {
            font-size: .6rem;
        }

        p:nth-child(2) {
            font-weight: bold;
            font-size: .8rem;
        }

        .navbar__deliveryAddress {
            margin-left: 5px;
        }
    }

    .navbar__nav {
        display: flex;

        align-items: center;

        .navbar__option {
            box-sizing: border-box;
            font-size: .8rem;
            font-weight: bold;

            a {
                all: unset;
                cursor: pointer;
                padding: 3px 7px;
                border: 1px solid rgba(255, 255, 255, 0);
                color: #fff;

                &:hover {
                    border: 1px solid rgba(255, 255, 255, 0.616);
                    border-radius: 2px;
                }
            }

            margin: 0 5px;

        }

    }

    .navbar__prime {
        display: flex;
        align-items: center;
        font-weight: bold;
        color: #fff;

        span {
            font-weight: 500;
            color: #fff;
            text-transform: lowercase;

            span {
                border-bottom: 1px solid #fff
            }
        }

        .MuiSvgIcon-root {
            margin-right: 5px;
            color: #00a4e0;
            font-size: 2rem;
            z-index: 2;
            position: relative;
        }

        .playButtonInner {
            height: 15px;
            width: 15px;
            background: #fff;
            position: absolute;
            z-index: 1;
            margin-left: 6px;
        }

        .tri {
            width: 0px;
            height: 0px;
            background: transparent;
            border-top: 19px solid #2478b8;
            border-bottom: 19px solid #00a4e0;
            border-left: 19px solid transparent;
            border-right: 19px solid #00a4e0;


        }


    }

}