* {
  padding: 0;
  margin: 0;
}

@import url(//db.onlinewebfonts.com/c/157c6cc36dd65b1b2adc9e7f3329c761?family=Amazon+Ember);

body {
  font-family: Amazon Ember;

            background:
            /* linear-gradient(90deg, rgba(21, 128, 74, 0.8), rgba(255,0,0,0) 100%),
            radial-gradient(ellipse at bottom, rgba(255,0,0,.8), rgba(255,0,0,0) ) */
            /* linear-gradient( .9turn, red,  blue); */


          ;
          /* background-blend-mode: exclusion; */
            /* background-repeat: no-repeat; */
            height: 100vh;
}
