* {
  padding: 0;
  margin: 0;
}

@import url(//db.onlinewebfonts.com/c/157c6cc36dd65b1b2adc9e7f3329c761?family=Amazon+Ember);

body {
  margin: 0;
  background: rgba(235,237,237);
  font-family: Amazon Ember;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
  background: linear-gradient(217deg, rgba(255,0,0,.2), rgba(255,0,0,0) 70.71%),
  linear-gradient(127deg, rgba(0,255,0,.2), rgba(0,255,0,0) 70.71%),
  linear-gradient(180deg, rgba(3, 0, 156, 0.2), rgba(3, 0, 177, 0.438) 70.71%),
  linear-gradient(336deg, rgba(0, 0, 255, 0.2), rgba(0,0,255,0) 70.71%);
  /* background-color:rgb(255, 255, 255); */
  
  background-blend-mode: overlay;

        
      
}
