.product {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    margin: 10px;
    padding: 20px;
    width: 100%;
    max-height: 400px;
    min-width: 100px;
    background: #fff;
    z-index: 1;


    .product__info {
        height: 100px;
        margin-bottom: 15px;
        text-align: left;
        text-transform: capitalize;
        width: 100%;

        .product__infoTitle {
        }

        .product__infoAuthor {
            color: #0066c0;
            font-size: .9rem;
            font-weight: 700;

            
            small {
                color: rgb(66, 66, 66);
                text-transform: lowercase;
            font-weight: 500;

            }
            span {
                color: #565959 !important;
            font-weight: 500;

            }

        }
    }

    img {
        max-height: 200px;
        width: 100%;
        object-fit: contain;
        margin-bottom: 15px;
    }

    .product__price {
        margin-top: 5px;
    }

    // button {
    //     background: #f0c14b;
    //     border: 1px solid;
    //     margin-top: 10px;
    //     border-color: #a88734 #9c7e31 #846a29;
    //     color: #111;
    //     // text-transform: capitalize;
    // }


    button {
        all: unset;
        text-align: center;
        border-radius: 2px;
        width: 100%;
        // min-width: 400px;
        height: 29px;
        border: 1px solid;
        border-color: #a88734 #9c7e31 #846a29;
        box-shadow: 0 1px 0 rgba(255, 255, 255, .4) inset;
        background: linear-gradient(to bottom, #f7dfa5, #f0c14b);
        color: #111;
        font-size: 13px;
        cursor: pointer;

        &:hover {
            background: linear-gradient(to bottom, #f5c553, #ffd45e);
        }

        &:active {
            background: linear-gradient(to bottom, #f5c146, #f5c747);
        }
    }

    .product__rating {
        display: flex;
    }
}